body {
background-color:  #605ed1;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #ee9dee;
height: 110vh;
display: flex;
justify-content: center;

}

/* alteramos a cor do fundo*/
/*meche no estilo as letras/*